body{
	background: url("../img/cielo.jpg");
	background-attachment: fixed;
}

#logo{
	background: #1F87C4;
}

#menu ul li:hover{/* cada vez que pasamos con el mouse por encima de algun elemento de la lista */
	background: #1F87C4;
}

.button-more{
	background: #1F87C4;
}